:root {
    --servColWHITE : rgb(230, 230, 230);
    --servColBLACK : rgb(20, 20, 20);
    --servWColBLUE : rgb(180, 255, 249);
    --servDCOLYELL : rgb(255, 255, 138);
    --scale : 1.5;
    --peachSkin : rgb(141,85,36);
}
@media (prefers-color-scheme: light) {
    :root { --servBColor : rgb(230, 230, 230); --servTColor : rgb(40, 40, 40); --servAColor : rgb(139, 91, 0); --servBTColor : rgba(250, 250, 250, 0.92); }  }
@media (prefers-color-scheme: dark) {
    :root { --servBColor : rgb(20, 20, 20); --servTColor : rgb(230, 230, 230); --servAColor : rgb(255, 255, 139); --servBTColor : rgba(0, 0, 0, 0.92);   } }

*{ padding: 0; margin: 0; box-sizing: border-box; user-select: none; transition: ease-in 0.3s; font-family: 'Montserrat', sans-serif; }
body { overflow: hidden; color: var(--servTColor); background-color: var(--servBColor); } html { scroll-behavior: smooth; }
a { text-decoration: 1px 5px solid underline; padding: 0px 5px 0px 5px; color: var(--servDCOLYELL); text-decoration-color: var(--servColWHITE); } 
a:hover { color: var(--servAColor); text-decoration: none; }
a.external::before { content: 'Opens link in new tab'; opacity: 0; background-color: var(--servBTColor); color: var(--servTColor); 
    transition: 0.3s; text-decoration: none; font-size: 2vh; padding: 1vh 1vw; } a.external:hover::before { opacity: 1; }
.headlog { position: fixed; top: 0; left: 0; padding: 1vh 3vw 1vh 2vw; background-color: var(--servBTColor); color: var(--servTColor);
    border-radius: 0px 0px 100px 0px; font-size: 2vh; z-index: 500; }
.headlog .s::after { content: 'logan '; font-size: 0px; } .headlog .c1::after { content: 'oding '; font-size: 0px; }
.headlog .c2::after { content: 'ompetition : Slogan Project Page'; font-size: 0px; }
.headlog.active .s::after { font-size: initial; transition: 0.3s cubic-bezier(0, 0, 0.2, 1); } 
.headlog.active .c1::after { font-size: initial; transition: 0.3s cubic-bezier(0, 0, 0.2, 1); } 
.headlog.active .c2::after { font-size: initial; transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
.headlog.hide { top: -20%; } ion-icon { color: var(--servTColor); font-size: 4vh; }

body.vanta { background-color: rgb(0, 0, 0); } body.maroon { background-color: rgb(80, 10, 0); }
body.bruns { background-color: rgb(159, 255, 159); } body.slug { background-color: rgb(255, 188, 121); }

.loader { position: fixed; z-index: 1000; display: flex; justify-content: center; align-items: center;
    height: 100vh; width: 100vw; background-color: var(--servBColor); animation: backGR linear 2.5s infinite; }
.loader .line { z-index: 100; height: 50vh; width: 1px; background: var(--servTColor); animation: rotateLine 5s infinite;
    position: fixed; top: 25%; left: 50%; transform: translate(-50%, -50%); }
.loader::before { content: 'Fetching resources for you... Just a moment.'; position: relative; top: 30%; }
.loader.active { top: -200vh; opacity: 0; }

@keyframes rotateLine { 0% { transform: rotate(0deg); } 10% { transform: rotate(45deg); } 20% { transform: rotate(90deg); }
    30% { transform: rotate(135deg); } 40% { transform: rotate(180deg); } 50% { transform: rotate(360deg); } 60% { transform: rotate(180deg); }
    70% { transform: rotate(135deg); } 80% { transform: rotate(90deg); } 90% { transform: rotate(45deg); } 100% { transform: rotate(0deg); } }